.card{
    margin: 4%;
    padding: 5%;
    width: 100%;
    font-size: smaller;
    color: white;
    border: 1px whitesmoke solid;
    div{
        margin: 3%;
        .bottom{
            margin-left: -3px;
            .right{
                margin-left: 75%;
            }
        }
    }
}