.card{
    margin-bottom: 20px;
    // padding: 5%;
    width: 300px;
    height:170px;
    font-size: 16px;
    color: white;
    border:3px inset #666666;
    box-shadow: 8px 8px 3px #666666;
    div{
        margin: 3%;
        .bottom{
            margin-left: -3px;
            .right{
                margin-left: 75%;
            }
        }
    }
}