.card{
    margin: 8%;
    padding: 5px;
    border: 1px white solid;
    width: 100%;
    height: 11%;
    .case{
        margin: 8px;
        .right{
            display: inline-block;
            font-size: medium;
            float: right;
        }
    }
}