.searchBar{
<<<<<<< HEAD
    .new{
        display: inline-block;
        margin-top: -102px;
        margin-left: 200px;
        vertical-align: 33px;
    }
=======
    display:flex;
    min-width:400px;
    width:400px;
    justify-content:space-between
>>>>>>> chenchen
}
.page{
    margin-top: 40px;
    float: right;
}